/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.course-container{
    height: 400px;
    min-width: 400px;
    max-width: 400px;
    margin: 3rem auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    /* width: 100%; */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  @media (max-width:412px){
    .course-container{
      min-width: 300px;
      margin-bottom: 20px;
    }
  }