*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.created{
    /* padding: 1rem 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem;
}