*{
    margin: 0;
    padding: 0;
}

.featured-container{
    /* background-color: #243642; */
    height: 100%;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.cards{
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.heading h1{
    font-size: 6vw;
    color: white;
}
@media (max-width:412px){
    .featured-container{
        padding: .5rem;
    }
}