*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tutor-container{
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;

}
.tutor-cards{
    width: 100%;
    display: flex;
    margin: 1rem 0 5rem 0 ;
    gap: 1rem;
    padding: 2rem;
    /* background-color: red; */
    align-items: flex-start;
    justify-content: center;
}
.tutor-container .heading h1{
    font-size: 4vw;
}
@media (max-width:412px),(max-width:600px){
    .tutor-container{
        width: 100%;
        height: 100%;
        padding: 0 .5rem;
    }
    .tutor-cards{
        flex-direction: column;
        padding: .5rem;
        align-items: center;
    }
    .tutor-container .heading h1{
        font-size: 6vw;
    }
}
@media (max-width:853px){
    .tutor-cards{
        flex-direction: column;
        align-items: center;
    }
    .tutor-container{
        height: 100%;
    }
}