*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user-container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 
}
.items{
    width: 400px;
    background-color: rgb(22, 65, 105);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .8rem;
    /* gap: 2rem; */
    color: white;
    
}
.items h3{
    
    text-transform: capitalize;
}
.items .user-image{

    width: 50%;
    height: 130px;
    overflow: hidden;
    border-radius: 1rem;
}
.user-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.user-details{
    min-width: 60%;
    max-width: 61%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    word-wrap: break-word;
    /* margin-left: 1rem; */
    padding: .5rem;
    overflow: hidden;
}
/* .title-button{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.tutor-course-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    /* background-color: red; */
}

@media (max-width:412px),(max-width:600px){
    .user-container{
        width: 100%;
    }
    .tutor-course-details{
        flex-direction: column;
        align-items: center;
    }
    .items{
        width: 100%;
        gap: 1rem;
    }
}


